{% load crispy_forms_tags %}

<div class="modal-dialog modal-dialog-centered" id="modal-pix-consulta">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {% if tipo_requisicao == "1" %}
          Consulta por CPF/CNPJ
        {% else %}
          Consulta por Chave Pix
        {% endif %}
      </h5>
    </div>
    <form action="{% url 'bacen:requisicao_bacen' %}" method="post">
      <div class="modal-body">
        {% csrf_token %}
        {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </form>
  </div>
</div>
