<div class="modal-dialog modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title d-flex align-items-center">
        <span class="badge bg-primary me-2">{{ requisicao.get_tipo_requisicao_display }}</span>
        {{ requisicao.termo_busca }}
      </h5>
      <a href="{% url 'bacen:requisicao_bacen_relatorio' requisicao.id %}"
         role="button"
         class="btn btn-outline-secondary">
        <i class="bi bi-printer"></i>
        Relatório
      </a>
    </div>
    <div class="modal-body container">
      <div class="row border border-2 border-secondary border-opacity-25 rounded-3 mb-3 p-2 d-flex align-items-center">
        <div class="col-1 text-center">
          <h1>
            <i class="bi bi-bank2"></i>
          </h1>
        </div>
        <div class="col">
          <div class="row fw-bold">{{ requisicao.get_tipo_requisicao_display }}</div>
          <div class="row">
            <div class="col g-0">
              <i class="bi bi-search me-1"></i>
              {{ requisicao.termo_busca }}
            </div>
          </div>
          <div class="row text-muted">Motivo: {{ requisicao.motivo }}</div>
          {% with status=requisicao.get_status %}
            <div class="row badge {{ status.class|default:"text-bg-secondary" }}">
              <div class="col">
                <i class="{{ status.icon }}"></i> {{ status.text }}
              </div>
            </div>
          {% endwith %}
        </div>
        <div class="col d-flex flex-column align-items-end">
          <span><i class="bi bi-calendar2 me-1"></i> {{ requisicao.created }}</span>
          <span class="fw-light"><i class="bi bi-person-circle me-1"></i> {{ requisicao.user.name }}</span>
          <span class="fw-medium">
            <i class="bi bi-key-fill"></i> Total de chaves: {{ requisicao.chaves_pix.count }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="bg-secondary text-white text-center p-2 mb-2">Chaves Pix</h5>
          {% for chave in requisicao.chaves_pix.all %}
            <ul class="mb-2 list-unstyled">
              <li class="fw-bold">
                <i class="bi bi-key-fill text-secondary me-2"></i> {{ chave.chave }} ({{ chave.tipo_chave }})
              </li>
            </ul>
            <table class="table table-bordered table-striped table-hover mb-5">
              <thead>
                <tr>
                  <th scope="col">Criado em</th>
                  <th scope="col">Status</th>
                  <th scope="col">CPF/CNPJ</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Banco</th>
                  <th scope="col">Abertura Conta</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ chave.data_criacao }}</td>
                  <td>{{ chave.status }}</td>
                  <td>{{ chave.cpf_cnpj }}</td>
                  <td>{{ chave.nome_proprietario }}</td>
                  <td class="fw-light">
                    <span class="fw-bold fst-italic">
                      {% if chave.participante %}
                        {{ chave.participante.codigoCompensacao }} {{ chave.participante.nome }}
                      {% else %}
                        Desconhecido
                      {% endif %}
                    </span>
                    <br />
                    <span class="fw-normal me-1">Agência:</span>{{ chave.agencia }}
                    <br />
                    <span class="fw-normal me-1">Conta:</span>{{ chave.numero_conta }}
                    <br />
                    <span class="fw-normal me-1">Tipo:</span>{{ chave.tipo_conta }}
                  </td>
                  <td>{{ chave.data_abertura_conta|date:"d/m/Y" }}</td>
                </tr>
                {% with eventos=chave.eventos_vinculo.all %}
                  {% if eventos %}
                    <tr>
                      <td colspan="6">
                        <span class="text-muted mt-3"><i class="bi bi-card-list"></i> Eventos</span>
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Data</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Motivo</th>
                              <th scope="col">CPF/CNPJ</th>
                              <th scope="col">Nome</th>
                              <th scope="col">Banco</th>
                              <th scope="col">Abertura Conta</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider">
                            {% for evento in eventos %}
                              <tr>
                                <td>{{ evento.data_evento }}</td>
                                <td>{{ evento.tipo_evento }}</td>
                                <td>{{ evento.motivo_evento }}</td>
                                <td>{{ evento.cpf_cnpj }}</td>
                                <td>{{ evento.nome_proprietario }}</td>
                                <td class="fw-light">
                                  <span class="fw-bold fst-italic">
                                    {% if evento.participante %}
                                      {{ evento.participante.codigoCompensacao }} {{ evento.participante.nome }}
                                    {% else %}
                                      Desconhecido
                                    {% endif %}
                                  </span>
                                  <br />
                                  <span class="fw-normal me-1">Agência:</span>{{ chave.agencia }}
                                  <br />
                                  <span class="fw-normal me-1">Conta:</span>{{ chave.numero_conta }}
                                  <br />
                                  <span class="fw-normal me-1">Tipo:</span>{{ chave.tipo_conta }}
                                </td>
                                <td>{{ evento.data_abertura_conta|date:"d/m/Y" }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  {% endif %}
                {% endwith %}
              </tbody>
            </table>
          {% empty %}
            <p class="text-center">Nenhuma chave encontrada.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
