{% extends "base.html" %}

{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'images/img_card_pix.webp' %}"
             class="card-img-top cp-img-cards"
             alt="..." />
        <div class="card-body">
          <a href="#"
             class="card-link"
             hx-get="{% url 'bacen:cpf_cnpj' %}"
             hx-target="#modals-consulta"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#modals-consulta">CPF/CNPJ</a>
          <a href="#"
             class="card-link"
             hx-get="{% url 'bacen:chave' %}"
             hx-target="#modals-consulta"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#modals-consulta">Chave</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'images/img_card_ccs.png' %}"
             class="card-img-top cp-img-cards"
             alt="..." />
        <div class="card-body">
          <a href="#" class="card-link" disabled>Consultar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Termo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Motivo</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for requisicao in requisicoes %}
            <tr class="smooth" id="requisicao-{{ requisicao.id }}">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkRow" />
                </div>
              </th>
              <td>
                {% if requisicao.processada %}
                  <a href="#" class="text-decoration-none" rel="noopener noreferrer">{{ requisicao.termo_busca }}</a>
                {% else %}
                  {{ requisicao.termo_busca }}
                {% endif %}
              </td>
              <td>{{ requisicao.get_tipo_requisicao_display }}</td>
              <td>{{ requisicao.motivo }}</td>
              <td>{{ requisicao.created }}</td>
              <td {% if not requisicao.get_status.finished %} hx-get="{% url 'bacen:requisicao_status' requisicao.id %}" hx-trigger="every 5s" hx-swap="outerHTML" {% endif %}
                  id="requisicao-{{ requisicao.id }}-status">
                {% with status=requisicao.get_status %}
                  <span class="badge {{ status.class|default:"text-bg-secondary" }}">
                    <i class="{{ status.icon }}"></i> {{ status.text }}
                  </span>
                {% endwith %}
              </td>
              <td>
                {% if not requisicao.processada %}
                  <a href="#"
                     class="text-decoration-none text-info"
                     hx-post="{% url 'bacen:processar_requisicao' requisicao.id %}"
                     hx-target="#requisicao-{{ requisicao.id }}"
                     hx-swap="innerHTML"
                     hx-trigger="click"
                     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    <i class="bi bi-play-circle me-2"
                       data-bs-toggle="tooltip"
                       data-bs-title="Processar consulta"></i>
                  </a>
                {% endif %}
                <a href="#" class="text-decoration-none text-danger">
                  <i class="bi bi-trash me-2"
                     data-bs-toggle="tooltip"
                     data-bs-title="Remover consulta"></i>
                </a>
                <a href="#" class="text-decoration-none text-secondary">
                  <i class="bi bi-pencil-square"
                     data-bs-toggle="tooltip"
                     data-bs-title="Editar"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-4 text-center">
        <button class="btn btn-info">
          <i class="bi bi-play-circle me-2"></i> Processar em lote
        </button>
      </div>
    </div>
  </div>
  <!-- Modal Consultas -->
  <div id="modals-consulta"
       class="modal modal-blur fade"
       aria-hidden="false"
       tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}
