<div class="row border-bottom border-secondary border-opacity-10">
  <div class="col d-flex justify-content-between align-items-center mb-3">
    <h5 class="text-secondary">
      <i class="bi bi-people-fill me-2"></i>
      Usuários
    </h5>
    <button class="btn btn-sm btn-outline-primary cl-outline-primary">
      <i class="bi bi-plus-circle me-1"></i>
      Adicionar usuário
    </button>
  </div>
</div>
<table class="table table-striped cl-table mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Registrado em</th>
      <th>Último login</th>
      <th>Ativo</th>
      <th>Permissões</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined }}</td>
        <td>{{ user.last_login }}</td>
        <td>
          {% if user.is_active %}
            <i class="bi bi-check-circle-fill text-success"></i>
          {% else %}
            <i class="bi bi-x-circle-fill text-danger"></i>
          {% endif %}
        </td>
        <td>
          {% with perms=user.get_user_permissions %}
            {% if perms %}
              {% for perm in user.get_user_permissions %}
                <span class="badge text-bg-{{ perm.badge_class }}">{{ perm.text }}</span>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </td>
        <td>
          <div class="dropdown">
            <a href="#"
               class="text-decoration-none text-secondary"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-pen text-success me-2"></i>
                  <small class="fw-light">Editar</small class="fw-light">
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="bi bi-x-circle text-danger me-2"></i>
                    <small class="fw-light">Inativar</small class="fw-light">
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <i class="bi bi-list-nested text-info me-2"></i>
                      <small class="fw-light">Permissões</small class="fw-light">
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
