{% extends "base.html" %}

{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
    <div class="col text-center">
      <div class="border border-2 rounded p-3 shadow bg-light">
        <div class="row">
          <div class="col">
            <img src="{% static 'images/pix_logo_icon.webp' %}"
                 alt="Logo Pix"
                 width="30"
                 class="me-2" />
            <span class="fw-bold">ConsultaLab</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-dark me-2 w-25 fw-bold"
                    hx-get="{% url 'bacen:cpf_cnpj' %}"
                    hx-target="#modals-consulta"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-consulta">CPF/CNPJ</button>
            <button class="btn btn-secondary me-2 w-25 fw-bold"
                    hx-get="{% url 'bacen:chave' %}"
                    hx-target="#modals-consulta"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-consulta">Chave</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center"
         data-bs-toggle="tooltip"
         data-bs-title="Em breve a consulta CCS estará disponível!">
      <div class="border border-2 rounded p-3 shadow bg-light">
        <div class="row">
          <div class="col">
            <img src="{% static 'images/img_card_ccs.png' %}"
                 alt="Logo CCS"
                 width="30"
                 class="me-2" />
            <span class="fw-bold">Consulta CCS</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-outline-dark me-2 w-25 fw-bold"
                    hx-get="{% url 'bacen:chave' %}"
                    hx-target="#modals-consulta"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-consulta"
                    disabled>CPF/CNPJ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class="text-secondary fw-light">
        <i class="bi bi-info-circle-fill"></i>
        Adicione uma consulta clicando no botão "CPF/CNPJ" ou "Chave" acima.
        Você pode consultar CPF, CNPJ ou Chaves Pix.
        As consultas são processadas em segundo plano e você pode acompanhar o status delas na tabela abaixo.
      </p>
    </div>
  </div>
  <div class="row mt-3 border border-2 rounded p-3 shadow bg-light">
    <div class="col">
      <h5 class="mb-4 d-flex align-items-center justify-content-between">
        <span class="fw-bold">
          <i class="bi bi-clipboard-data me-2"></i>
          Requisições
        </span>
        <span class="fs-6 fw-light text-secondary">Total: {{ requisicoes|length }}</span>
      </h5>
      <table class="table" id="requisicoes-table">
        <thead>
          <tr>
            <th scope="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkAll" />
              </div>
            </th>
            <th scope="col">Termo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Motivo</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for requisicao in requisicoes %}
            <tr class="smooth requisicao-rows" id="requisicao-{{ requisicao.id }}">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkRow" />
                </div>
              </th>
              <td>
                {% if requisicao.processada %}
                  <a href="#"
                     class="text-decoration-none"
                     rel="noopener noreferrer"
                     hx-get="{% url 'bacen:requisicao_bacen_detail' requisicao.id %}"
                     hx-target="#modals-detalhes"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#modals-detalhes">{{ requisicao.termo_busca }}</a>
                {% else %}
                  {{ requisicao.termo_busca }}
                {% endif %}
              </td>
              <td>{{ requisicao.get_tipo_requisicao_display }}</td>
              <td>{{ requisicao.motivo }}</td>
              <td>{{ requisicao.created }}</td>
              <td {% if not requisicao.get_status.finished %} hx-get="{% url 'bacen:requisicao_status' requisicao.id %}" hx-trigger="every 5s" hx-swap="outerHTML" {% endif %}
                  id="requisicao-{{ requisicao.id }}-status">
                {% with status=requisicao.get_status %}
                  <span class="badge {{ status.class|default:"text-bg-secondary" }}">
                    <i class="{{ status.icon }}"></i> {{ status.text }}
                  </span>
                {% endwith %}
              </td>
              <td>
                {% if not requisicao.processada %}
                  <a href="#"
                     class="text-decoration-none text-info"
                     hx-post="{% url 'bacen:processar_requisicao' requisicao.id %}"
                     hx-target="#requisicao-{{ requisicao.id }}"
                     hx-swap="innerHTML"
                     hx-trigger="click"
                     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                     id="process-row">
                    <i class="bi bi-play-circle me-2"
                       data-bs-toggle="tooltip"
                       data-bs-title="Processar consulta"></i>
                  </a>
                {% endif %}
                <a href="#" class="text-decoration-none text-danger">
                  <i class="bi bi-trash me-2"
                     data-bs-toggle="tooltip"
                     data-bs-title="Remover consulta"></i>
                </a>
                {% comment %} <a href="#" class="text-decoration-none text-secondary">
                  <i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-title="Editar"></i>
                </a> {% endcomment %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-4 text-center">
        <button class="btn btn-info" id="process-all">
          <i class="bi bi-play-circle me-2"></i> Processar em lote
        </button>
      </div>
    </div>
  </div>
  <!-- Modal Consultas -->
  <div id="modals-consulta"
       class="modal modal-blur fade"
       aria-hidden="false"
       tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <!-- Modal Detalhes -->
  <div id="modals-detalhes"
       class="modal modal-blur fade"
       aria-hidden="false"
       tabindex="-1">
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}
